.product-preview-card {
  width: 12rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: lightpink;


  &__title {
    font-style: bold;
    color: black;
  }

  &__description {
    color: white;
  }

  &__image {
    
    width: 11rem;
    border-radius: 1rem;
    margin: 0.5rem;
  }
}
