.checkoutText1 {
    text-align: center;
    color: black;
}

.checkoutText2 {
    text-align: center;
    color: rgb(216, 21, 145);
}

.productimage{
    border: 2px solid lightpink;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    position: center;
}

.priceText{
    text-align: center;
    font-size: large;
}