@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.home-page {
  *{
    font-family: 'Syne Mono', monospace;
  }

  &__title {
    color: red;
  }

  &__products {
    margin: 1rem;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 1rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
