@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.home-page {
  *{
    font-family: 'Syne Mono', monospace;
  }

  &__title {
    color: red;
  }

  &__products {
    margin: 1rem;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap: 3.5em;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
