.errortext {
    text-align: center;
    font-size: 100px;
    color: white;
}
.errorpage {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    left:0px;
    top: 0px;
    background-image: url(https://media.tenor.com/UCVvWd65f68AAAAd/koko-gorilla.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightpink;
  }
  
  
  
  
  
  
  
  
  
  
  
  